*{ margin-block-start: 0; margin-block-end: 0;}
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-size:16px;
    color:#333;
    margin:0;
    padding:0;
}
.wrapper{
    width:100%;
    position:relative;
}
.cardbox{
    position: fixed;
    top: 100px;
    right: 5px;
    z-index: 989;
}
.cardbox img{
    width: 105px;
}
.bg-black{
    background-color: #000;
}
.radius-white-line{
    width: 30px;
    height: 30px;
    display: flex;
    position: absolute;
    right: 20px;
    color: #fff;
    justify-content: center;
    align-items: center;
}
a.radius-white-line:hover{
    color: #ccc;
    text-decoration: none;
}
.background-moon-color{
    background-color: #1e3932;
    color: #fff;
}

/** 네비게이션 **/
.nav-bg{
   background:#e5e5e5;
   padding-top:5px;
   border-top:2px solid #333;
   position:fixed;
   z-index:100;
   top:0;
   left:0;
   width:100%;
   position:relative;
}
.nav-bg .row {
    padding-top:5px;
    padding-bottom:10px;
}
.logo{
    width:70%;
}
.topnavbox{
    display:flex;
}
.gnb, .topnav{
    list-style-type:none;
    margin:0;
    padding:0;
    display:flex;
    justify-content:flex-end;
    align-items:center;
    width:100%;
}
.topnav li:not(:last-child)::after{
    content:"";
    display:inline-block;
    height:10px;
    width:1px;
    background:#999;
}
.navin a{
    white-space: nowrap;
    color:#333;
    font-family:'Avenir Next LT Pro', sans-serif;
}
.topnav a{
    width:calc(100% - 1px);
    display:inline-block;
    padding:0 15px;
    font-size:13px;
    color:#333;
    font-weight:300;
}

.input-search {
    width:0;
    border:none;
    outline: none;
    background:transparent;
    transition:all .25s;
}
.searchForm{
    display:flex;
    justify-content: flex-end;
    align-items:center;
}
.searchForm.act {
    border:1px solid #999;
    background:#fff;
    border-radius:8px;
    padding:5px 10px;
    position:relative;
}
.input-search.act{
    width:150px;
}
.input-search::placeholder{
    font-size:13px;
    color:#999;
}
a.search-btn{
    background:#fff;
    border:1px solid #999;
    border-radius:5px;
    padding:1px 5px;
    color:#333;
}
.searchForm.act a.search-btn{
    border:none;
    padding:0;
    position:absolute;
    right:5px;
}
a.search-btn span.material-icons{
    font-size:28px;
}
.gnb {
    margin-top:10px;
}
.gnb li{
    text-align:center;
}
.gnb li:hover{
    background:#333;
}
.gnb li:hover a{
    color:#14a86b;
}
.gnb>li>a{
    display:inline-block;
    font-weight:300;
    padding:15px 15px 30px;
}
div.lnb{
    position:absolute;
    width:100%;
    padding: 20px 0;
    left:0;
    top:123px;
    background:#333;
    display:none;
    z-index:10;
}
.lnb ul{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    flex-wrap: wrap;
}
.lnb li{
    width:20%;
}
.gnb li:hover .lnb a{
    display:block;
    color:#fff;
    font-size:13px;
    line-height:30px;
    text-align:left;
}
.lnb a.lnb-title{
    font-weight:700;
    font-size:14px;
    margin:30px;
    line-height:1.2;
    text-align:left;
}
.lnb a:last-child {
    margin-bottom:40px;
}
.navin{
    display:none;
}
.mobile{
    display:block;
}

.btn-box{
    display:flex;
    justify-content: flex-end;
}
a>.material-icons {
    color:#333;
}
a:hover>.material-icons {
    color:#000;
}
.material-icons.menu{
    cursor:pointer;
}
.fadeblack {
    position:fixed;
    z-index: 100;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.6);
    top:0;
    left:0;
    display:none; 
}
.mobile-nav-box{
    background:#000;
    height:100%;
    margin:0;
    padding:0;
    margin-left:30%;
    position:relative;
    list-style-type:none;
}
.mobile-nav-box li{
    border-bottom:1px solid #333;
    padding:20px;
}
.mobile-nav-box li.grayblack{
    background:#333;
    border-bottom:1px solid #000;  
}
.mobileSearchForm{
    padding-top: 20px;
    padding-bottom:20px;
}
.mobile-nav-box li a{
    display:flex;
    width:100%;
    height:40px;
    font-size:18px;
    color:#fff;
    justify-content: space-between;
    align-items: center;
}
.mobile-nav-box li a{
    text-decoration:none;
}
.mobile-nav-box li a:hover span{
    text-decoration:underline;
}

.mobile .material-icons{
    font-size:40px;
    margin-right:15px;
}
a.xclose{
    position:absolute;
    top:10px;
    left: 90px;
    z-index:150;
}

a.xclose span.material-icons {
    font-size:50px;
    color:#fff;
    transition: transform 1s;
    transition: -webkit-transform 1s;
}
a.xclose:hover span.material-icons {
    transform:rotate(180deg);
}
ul.mobile-lnb{
    list-style:none;
    padding:0px;
    margin:0;
    margin:15px -20px -20px;
    background:#222;
    display:none;
}
ul.mobile-lnb li{
    padding-left:40px;
}
/*main-banner*/
.main-banner{
    height: 1017px;
    background: url(../images/mobile/m_main_bg.jpg) no-repeat center;
    background-size: cover;
}
.main-banner>.container{
    padding-top: 50px;
    flex-wrap: wrap;
}
.cont{
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
}
.cont img{
    margin-bottom: 30px;
}
.webimg{
    display: none;
}
.mainbanner .col-3{
    height: 80vh;
}
.main-text{
    width: 55%;
}
picture img{
    max-width: 100%;
}
.yellow{
    position: absolute;
    top: 150px;
    left: -60px;
    width: 320px;
}
.choco{
    width: 350px;
    position: absolute;
    top: 300px;
    left: 20px;
}
.green{
    width: 70%;
    position: absolute;
    right: 100px;
    top: 520px;
}
.m-slogan{
    width: 190px;
}
/********SECTION REWARDS***********/
section.rewards p{
    margin-bottom: 0;
}
section.rewards .fs-14{
    font-size: .95em;
}
.promotion-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #000;
}
.notice-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
}
.icon-rotate{
    transform: rotateX(180deg);
}

.imgSlider{
    height: 200px;
    background-color: #ddd;
    margin-left: -15px;
    margin-right: -15px;
}
.imgs{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: 100%;
    padding-left: 100px;
    margin-top: 20px;
}
.imgs span{
    margin-left: 100px;
    width: 30px;
    height: 30px;
}
a.imgs{
    color: #333;
    font-size: 20px;
    text-decoration: none;
}
.noticebox{
    position:absolute;
    display:flex;
    right: 0px;
    width:600px;
}
.noticebox strong{
    display:block;
    width:150px;
}
.notice-text{
    width:calc(100% - 170px);
}


@media screen and (min-width: 1000px) {
    .navin {
        width:70%;
        display:flex;
        flex-direction: column;
        align-items: flex-end;  
     }
     .mobile {
         display:none;
     }
     .nav-bg .row {
        padding-top:0px;
        padding-bottom:0px;
    }
    .logo{
        width:100%;
    }
    .cardbox{
        position: fixed;
        top: 140px;
        left: calc(50% + 620px);
        z-index: 999;
    }
    .cardbox img{
        max-width: 140px;
    }
    .main-banner{
        height: 646px;
        background: url(../images/main_bg.jpg) no-repeat center;
        background-size: cover;
    }
    .mobileimg{
        display: none;
    }
    .mainbanner .col-3{
        height: 646px;
    }
    .m-slogan{
        width: 140px;
    }
    .yellow{
        position: absolute;
        top: 150px;
        left: -100px;
        width: 460px;
    }
    .choco{
        position: absolute;
        top: 40px;
        left: -150px;
        width: 480px;
    }
    .green{
        position: absolute;
        right: -200px;
        top: -150px;
        width: 440px;
    }
    .cont .btn{
        margin: 0 auto;
    }
    .notice-promotion{
        height: 300px;
    }
    .notice{
        width: 100%;
        height: 100%;
    }
    .promotion{
        width: 100%;
        height: 100%;
    }
}